!.config/emacs/config.org
.config/emacs/**
.config/alacritty/themes/**
.config/git/credentials
.config/ncspot/userstate.cbor
.config/nvim/
.config/service/**/supervise/
.config/sway/config
.config/tmux/plugins
.config/zsh/.zcompdump*
.config/zsh/.zfunc/**
.config/zsh/history
sv/**/supervise/
